# Python cache and bytecode
*.py[cod]
__pycache__/

# Development
*~
.idea/
.cache/
.coverage
.coverage-html/
.tox
.vscode/

# Building
dist/
build/
*.egg-info/

# Deployment
.env/
.venv/
data/
logs/
dump.rdb
Pipfile.lock
