include LICENSE.txt
include cwmud/libs/miniboa.LICENSE.TXT
include requirements.txt
include Makefile

recursive-include tests *.py requirements.txt

recursive-include docs *
recursive-exclude docs/.build *
